

.container(ng-if='! successful')
  .inner-container


    .title
      .title-container
        h1 We're listening

    .title.small-title.small-margin.grey-title
      .title-container
        h1 Tell me your ACC story


    form(name='feedbackForm', autocomplete='off' ng-submit='submitFeedback(feedbackForm, feedback, contact, name)' novalidate)

      md-input-container.bold(ng-class='{"flash": feedbackFlashActive}')
        label(style="opacity: 0;" for='feedbackContent') Enter your feedback
        textarea(name='feedbackContent' md-no-asterisk='true' id="feedbackContent" ng-model='feedback' required='true' autocomplete='off',
        ng-focus='feedbackForm.isFeedbackFocused = true', ng-blur='feedbackForm.isFeedbackFocused = false'
        placeholder='Enter feedback here\n  ...')

        div(ng-show='(feedbackForm.$submitted) && ! feedbackForm.isFeedbackFocused'
        ng-messages="feedbackForm.feedbackContent.$error")
          div(ng-message='required') You need to enter some feedback
          div(ng-message='feedback') Looks like something went wrong trying to submit your feedback. Try again.


      md-input-container.optional
        label(style="opacity: 0;" for='name') Enter the customers name
        input(name='name' ng-model='name' id="name" autocomplete='off',
        placeholder='Name')

      md-input-container.optional
        label(style="opacity: 0;" for='contact') Enter the customers contact
        input(name='contact' id="contact" ng-model='contact' autocomplete='off',
        placeholder='Contact')

      //md-checkbox Have ACC contact me
      //md-checkbox Send this anonymously

      md-button(type='submit', ng-class='{"bold-button": feedbackForm.$valid && !submitting}')
        span(ng-hide='submitting') Send
          right-arrow-svg
        md-progress-circular.white-progress(ng-show='submitting' md-diameter='30' md-mode='indeterminate')



.container(ng-if='successful')
  .inner-container

    .title
      .title-container
        h1 Thanks for letting us know!

    .title.small-title.small-margin.grey-title
      .title-container
        h1 {{feedbackSuccessTitle}}




    form(novalidate)
      md-button.bold-button.start-over-button(ng-click='resetFeedback()', type='button') Start over!
